.wrapperr {
    h1 {
        margin-left: 35%;
        // margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-size: 2.3rem;
        text-transform: uppercase;
        font-weight: 700;
        background: linear-gradient(to right,#F49867  10%, #fff 50%, #AE67FA 60%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 1.5s linear infinite;
        display: inline-block;
        @media screen and (max-width: 550px) {
            font-size: 2.9rem;
            margin-left: 2rem;
        }
        @media (min-width: 551px) and (max-width: 700px) {
            font-size: 2.8rem;
            text-align: center;
            margin-left: 0;
        }
        @media (min-width: 701px) and (max-width: 1050px) {
            font-size: 4rem;
            margin-left: 0;
        }
    }
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.blog {
    @media screen and (max-width: 1050px) {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .left {
        .card {
            // height: 113vh;
            background-color: var(--color-blog);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            transition: 0.6s;
            &:hover {
                transform: translateY(-10%);
            }
            img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                transition: 0.6s;
            }
            &:hover > img {
                transform: scale(1.2);
                filter: grayscale(100%);
            }
            h5 {
                color: #fff;
                font-size: 1rem;
                font-weight: 400;
            }
            p {
                color: #fff;
                font-size: 2rem;
                font-weight: 800;
                @media screen and (max-width: 550px) {
                    font-size: 1.6rem;
                }
            }
        }
    }
    .right {
        .up,.down {
            .card-1,
            .card-2 {
                margin-bottom: 1rem;
                background-color: var(--color-blog);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                transition: 0.6s;
                &:hover {
                    transform: translateY(-10%);
                }
                img {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    transition: 0.6s;
                }
                &:hover > img {
                    transform: scale(1.2);
                    filter: grayscale(100%);
                }
                h5 {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 400;
                }
                p {
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 800;
                    @media screen and (max-width: 550px) {
                    font-size: 1.6rem;
                }
                }
            }
        }
    }
}